:root {
    --green: #27CEB5;
    --big-font: 30px;
    --normal-font: 20px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

input {
    border: none;
    outline: none;
    width: 120px;
    font-size: var(--normal-font);
    -moz-appearance:textfield !important;
    font-family: 'Roboto', sans-serif;
}

input:disabled {
    background-color: #FFF;
    opacity: 0.6;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background: var(--green);
    color: #FfFfff;
    font-size: var(--big-font);
    font-weight: bold;
    padding: 30px;
    flex: 0 0 auto;
}

.content {
    background: #f3f2f2;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.input-container {
    width: 230px;
    height: 100px;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 7px;
    padding: 0 20px;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.11);
}

.prefix {
    color: #BFBEBE;
    margin-right: 10px;
    font-size: var(--normal-font);
}

.currency {
    border: none;
    color: var(--green);
    font-size: var(--normal-font);
    width: 75px;
}

.currency:focus-visible {
    outline: none;
}

.switch {
    background: #29ceb5;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0 3px 2px 0 rgba(0,0,0,0.11);
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    margin: 50px;
}

footer {
    background: #29ceb5;
    color: #FFF;
    padding: 10px;
}

@media screen and (max-width: 995px) {
    .content {
        flex-direction: column;
        padding: 20px;
    }
    .switch {
        transform: rotate(90deg);
    }
    .input-container {
        margin: 0;
    }
}
